   /* :PPPPPPPP */

body {
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    font-family: Belleza;
    background-image: url(img/background.jpg);
    background-repeat: repeat-x;
   
}


.logo{
    width: 80px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;


}

#main-header {
    height: 80px;
    background-color: black;
    margin-bottom: 20px;
}

#header-logo{
    float:left;
}

#search {
    float: right;
    font-size: 18px;
    padding: 5px;
    margin: 20px 10px 0px 0px;

}


#header-name {
    width:70%;
    font-size: 40px;
    color: aliceblue;
    padding: 15px;
    
}



#main-image {
    width:70%;
    height:250px;
    float:left;

}

#side-image {
    width: 30%;
    height: 250px;
    float: right;
}

#welcome {
    width: 70%;
    float: left;
    font-size: 18px;
    margin: 20px 0px 20px 0px;
}

#about-us {
    float: right;
    width: 30%;
    margin: 20px 0px 20px 0px;

}

#about-us > ul {
    list-style-type: none;
}

    #about-us > ul > li{
        margin: 0px 0px 3px 0px;
    }
#about-us > header{
    margin-left: 5px;
    color:green;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
   
}

#main{
    height: 100%;
    width: 70%;
    float: left;
    margin: 0px 0px 3px 0px;
}

#donut-header{
    color:green;
    font-size: 15px;
    margin: 0px 0px 3px 0px;
    height: 25px;
}

.products{
    width: 25%;
    float: left;
    margin: 0px 0px 20px 0px;
}

.product-article {
    height: 150px;
    width: 200px;
    border-style: solid;
    border-color: green;
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
}

.product-thumbnail {
    width: 35px;
    height: 35px;
}


footer{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgb(93, 44, 26);
    border-radius: 5px;
    
}

